* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    



body{
    font-family: 'B612', sans-serif;
    background: rgba(120,120,120, .1);
}


.logo {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    clear: both;
    margin-bottom: 1vh;
}

.frontfont {
    font-size: 0.6em;
    width: 90%;
}

nav {
    margin-bottom: 1em;
}
 
/* burger menu */



.topnav {
  overflow: hidden;
  background: rgba(120,120,120, .2);
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 5vh;
  display: block;
  color: black;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*burgermenu slut */



h2 {
    font-size: 2em;
    text-align: center;
    background: rgba(255,255,255, .5);
}

.linktilnyesider {
    text-decoration: none;
    color: black;
}


.praktiskeoplysninger {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/bes%C3%B8gos.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}


.fortet {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/maskinrum.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

.historien {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/Historie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.familienmed {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/happy-family.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.nyheder {
    height: auto;
    width: 90%;
    background: rgba(120,120,120, .2);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vh;
    
}

.top {
    height: 5em;
    background: rgba(120,120,120, .2);
}

h3 {
    font-size: 2em;
    text-align: center;
    height: 10em;
    padding-top: 25px;
    
}


.nyhed1 {
    height: 18em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nyhed2 {
    height: 18em;
    background: rgba(120,120,120, .2);
    padding-top: 5px;
    padding-bottom: 5px;
}


h4 {
    font-size: 1.5em;
    margin-right: 15px;
    margin-left: 15px;
}

.nyhedstekst {
    font-size: 1em;
    margin-right: 15px;
    margin-left: 15px;
}


footer{
    width: 90%;
    background: rgba(120,120,120, .2);
    margin-top: 2vh;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    
    
    
}

.foelgos {
    border-bottom: dotted 6px;
    padding-bottom: 1vh;
    width: 100%;
    text-align: center;
    
}

.some {
    height: 3em;
}

.findos {
    border-bottom: dotted 6px;
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 1vh;
    background: rgba(120,120,120, .2);
}
.aabningstider{
    
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 1vh;
    background: rgba(120,120,120, .2);
}

.footeraabningstider {
    font-size: 1em;
}

.footertekst {
    font-size: 1.5em;
    padding-top: 10px
}

.footertekstfindos {
    font-size: 1em;
    color: black;
}



/* Praktiske informationer */

.informationer {
    height: 70em;
    width: 90%;
    background: rgba(120,120,120, .2);
    margin-left: auto;
    margin-right: auto;
}

.praktiskinfotekst{
    font-size: 1em;
    width: 60%;
    float: left;
    margin-left: 15px;

}

.sponsorimg{
    float: right;
    padding-right: 50px;
}

/* Fortet htmlside */

.tank {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/panserjager.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

.tank2 {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/panserjager.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

.fly {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/draken.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.fly2 {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/draken.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bunkere {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/underjordiske-bunkere.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

.bunkere2 {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/underjordiske-bunkere.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}


.kanoner {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/kanon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.kanoner2 {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/kanon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.springeren {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/springeren.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.springeren2 {
    height: 30vh;
    width: 90%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/springeren.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* Historien */

.historierubrik {
    width: 90%;
    background: rgba(120,120,120, .2);
    padding-bottom: 1vh;
    margin: auto;
}

.historietekst{
    font-size: 1em;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; 
    column-count: 2;
}

/* Tag hele familien med */


.familierubrik {
    width: 90%;
    background: rgba(120,120,120, .2);
    padding-bottom: 1vh;
    margin: auto;
    
    
}

.familie {
     font-size: 25px;
    width: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; 
}

.familiefoto {
    height: 15em;
    width: 20%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/familie.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Kontakt form */


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.indsendknap {
    font-size: 1.3em
}

input[type=submit]:hover {
    background-color: #45a049;
}


.formcontainer {
    border-radius: 5px;
    background: rgba(120,120,120, .2);
    font-size: 2em;
    width: 90%;
    margin-top: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    margin-bottom: 2vh;
}

.bokssize {
    font-size: 1em
}

/* Henvendelses funktion */

.henvendelse {
     height: auto;
    width: 90%;
    background: rgba(120,120,120, .2);
    padding-bottom: 1vh;
    margin: auto;
    
}

/* Hvem er v */

.hvemervitekst {
    font-size: 1em;
    width: 90%;
    padding-left: 15px;
    padding-right: 15px; 
    column-count: 1;
}

.hvemervirubrik {
    height: auto;
    width: 90%;
    background: rgba(120,120,120, .2);
    margin: auto;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}

.hvemerviimg {
    height: 10vh;
    width: 50%;
    margin-bottom: 2.5vh;
    margin-right: auto;
    margin-left: auto;
    background-image: url(Billeder/Special%20Forcesi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* Undersider til "fortet" */

.pansertekst {
    font-size: 1em;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; 
    column-count: 2;
}

.panserrubrik {
    width: 90%;
    background: rgba(120,120,120, .2);
    margin-bottom: 2.5vh;
    height: auto;
    margin: auto;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}

.bunkerrubrik {
      height: auto;
    width: 90%;
    background: rgba(120,120,120, .2);
    margin-bottom: 2.5vh;
    margin: auto;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    
}

.luftvåbenrubrik {
    height: auto;
    width: 90%;
    background: rgba(120,120,120, .2);
     margin: auto;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}

.kanonerrubrik {
      height: auto;
    width: 90%;
    background: rgba(120,120,120, .2);
     margin: auto;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}

.skiberubrik {
    height: auto;
    width: 90%;
    background: rgba(120,120,120, .2);
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}

.video {
    width: 100%;
}
    

@media only screen and (min-width: 600px) and (orientation: landscape) {
    header {
        height: 40vh;
    }
    .praktiskeoplysninger {
        width: 45%;
        float: left;
        margin-top: 2vh;
        margin-left: 3%;
    }
    
    .fortet {
        width: 45%;
        float: right;
        margin-top: 2vh;
        margin-right: 3%;
    }
    
    .historien {
         width: 45%;
        float: left;
        margin-left: 3%;
    }
    
    .familienmed {
        width: 45%;
        float: right;
        margin-right: 3%;
    }
    
    h2 {
        font-size: 2em
    }
    
    .nyheder {
        clear: both;
        width: 80%;
        height: auto;
        
    }
    
    .nyhed1 {
        height: auto;
        margin-bottom: 1vh
    }
    
    .nyhed2 {
        height: auto;
        margin-bottom: 1vh
    }
    
    .top {
        height: 6em
    }
    
    h3{
        font-size: 2em;
    }
    
    .nyhedstekst{
        font-size: 1.0em;
    }
    
    h4 {
        font-size: 1.5em;
    }
    
    footer {
        height: 19em;
    }
    
    .foelgos {
        height: 7em;
        border-bottom: dotted 3px;
    }
    
    .findos {
        height: 8em;
        border-bottom: dotted 3px;
    }
    
    .footertekst {
        font-size: 1.3em
    }
    
    
    .footertekstfindos {
        font-size: 0.8em
    }
    
    .footeraabningstider {
        font-size: 0.8em;
    }
    
    
    .some {
        transform: scale(0.4);
    }
    
    .tank {
          width: 45%;
        float: left;
        margin-right: 5%;
        margin-top: 2vh;
        height: 50vh;
    }
    
    .fly {
          width: 45%;
        float: right;
        margin-top: 2vh;
        height: 50vh;
    }
    
    .bunkere {
          width: 45%;
        float: left;
        margin-right: 5%;
        margin-top: 2vh;
        height: 50vh;
    }
    
  
    
    .kanoner {
          width: 45%;
        float: right;
        margin-top: 2vh;
        height: 50vh;
    }
    
      .springeren {
          width: 90%;
        clear: both;
        margin-right: 5%;
        margin-top: 2vh;
        height: 70vh
    }
    
    .tank2 {
         height: 77vh;
        background-size: contain
    }
    
    .fly2 {
        height: 77vh;
        background-size: contain
    }
    
    .bunkere2 {
         height: 77vh;
        background-size: contain
    }
    
    .kanoner2 {
         height: 77vh;
        background-size: contain
    }
    
    .springeren2 {
        height: 77vh;
        background-size: contain
    }
    
    .bunkere2{
         height: 77vh;
        background-size: contain
    }
    
    .hvemerviimg {
        height: 100vh;
    }
    .frontfont {
        font-size: 1em;
    }
}



/* Media Qurries for tablet */

@media only screen and (min-width: 1080px) {
   
    
    .praktiskeoplysninger {
        width: 45%;
        float: left;
        margin-right: 5%;
        margin-top: 2vh;
    }
    
    .fortet {
        width: 45%;
        float: right;
        margin-top: 2vh;
    }
    
    .historien {
         width: 45%;
        float: left;
        margin-right: 5%
    }
    
    .familienmed {
        width: 45%;
        float: right;
    }
    
    h2 {
        font-size: 2em
    }
    
    .nyheder {
        clear: both;
        width: 80%;
    }
    
    h3{
        font-size: 4em;
    }
    
    .nyhedstekst{
        font-size: 1.5em;
    }
    
    h4 {
        font-size: 2.4em;
    }
    
    .tank {
          width: 45%;
        float: left;
        margin-right: 5%;
        margin-top: 2vh;
        
    }
    
    .fly {
          width: 45%;
        float: right;
        margin-top: 2vh;
        
    }
    
    .bunkere {
          width: 45%;
        float: left;
        margin-right: 5%;
        margin-top: 2vh;
        
    }
    
  
    
    .kanoner {
          width: 45%;
        float: right;
        margin-top: 2vh;
        
    }
    
      .springeren {
          width: 90%;
        clear: both;
        margin-right: 5%;
        margin-top: 2vh;
    }
    
    .tank2 {
        height: 40em;
    }
    
    .fly2 {
        height: 40em;
    }
    
    .bunkere2 {
        height: 40em;
    }
    
    .kanoner2 {
        height: 40em;
    }
    
    .springeren2 {
        height: 40em;
    }
    
    .bunkere2{
        height: 40em;
    }
    
        .frontfont {
        font-size: 1em;
    }
    
    
}

/* Media Qurries for pc */

@media screen and (min-width: 1081px) {
    .logo {
        transform: scale(0.7)
    }
    
    .rightblock{
        height: auto;
        width: 50%;
        float: right;
        clear: both;
        margin-right: 2vh;
        
    }
    
    
    
    .praktiskeoplysninger {
        margin-right: 0px;
        width: 100%;
        margin-left: 0px; 
        float: right;
        margin: 0px;
        display: block;
        margin-bottom: 2vh
        
        
    }
    
    .fortet {
         margin-right: 0px;
        width: 100%;
        margin-left: 0px; 
        float: right;
        margin: 0px;
        display: block;
        margin-bottom: 2vh
        
    }
    
    
    .historien {
         margin-right: 0px;
        width: 100%;
        margin-left: 0px; 
        float: right;
        margin: 0px;
        display: block;
        margin-bottom: 2vh
       
    }
    
    .familienmed {
        height: 32.8em;
        width: 100%; 
        float: right;
        margin: 0px;
        display: block;
        margin-bottom: 2vh;
        
    }
    
    .nyheder {
        width: 40%;
        height: auto;
        float: left;
        clear: left;
        margin-bottom: 1vh;
        margin-left: 1vh;
    }
    
      h3{
        font-size: 3em;
    }
    
    .nyhedstekst{
        font-size: 1em;
    }
    
    h4 {
        font-size: 1.5em;
    }
    
    h2 {
        font-size: 3em;
    }
    
    .formcontainer {
        width: 50%;
    }
    
    
    .bokssize {
    font-size: 0.5em
}
    
    input[type=text], select, textarea {
        font-size: 0.5em;
    }
    
    .indsendknap {
        font-size: 1em;
    }
    
     .tank2 {
         
         width: 50%;
        background-size: contain;
    }
    
    .fly2 {
         width: 50%;
        background-size: contain
    }
    
    .bunkere2 {
         width: 50%;
        background-size: contain
    }
    
    .kanoner2 {
          width: 50%;
        background-size: contain
    }
    
    .springeren2 {
         width: 50%;
        background-size: contain
    }
    
    .bunkere2{
          width: 50%;
        background-size: contain
    }
    
    .tank{
        margin-left: 1vh;
    }
    
    .fly {
        margin-right: 1vh;
    }
    
    .bunkere {
        margin-left: 1vh;
    }
    
    
    .kanoner {
        margin-right: 1vh;
    }
    
    .hvemerviimg {
         width: 50%;
        background-size: contain;
        height: 25em;
    }
    
    .sponsorimg {
        transform: scale(1.4)
    }
    
        .frontfont {
        font-size: 1em;
    }
    
    .video {
        width: 40%;
        float: left;
        margin-left: 1vh;
        height: 50em;
        margin-bottom: 1vh;
    }
}


